.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.circle {
  border-radius: 50%;
}
.round {
  border-radius: 1000px;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column
}

.flex-row {
  display: flex;
  flex-direction: row
}

.flex-1 {
  flex: 1
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none; 
} 
  
.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-space-between {
  justify-content: space-between
}

.justify-space-around {
  justify-content: space-around
}
  
.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.items-stretch {
  align-items: stretch
}

.items-inherit {
  align-items: inherit;
}
